<!DOCTYPE html>
<html>
  <head>

    <%- include('partials/header.ejs') %>

  </head>
  <body>
    <div id="banner">
        <%- include('partials/banner.ejs') %>
    </div>

    <div class="jumbotron">
        <div class="container">
            <h1>Welcome to Contoso Travel!</h1>
            <p>
                <a class="btn btn-primary btn-lg" href="translate_upload">Translate a sign with an uploaded image</a>
            </p>
            <p>
                <a class="btn btn-primary btn-lg" href="translate_url">Translate a sign with an image URL</a>
            </p>
            <p>
                <a class="btn btn-primary btn-lg" href="landmark_upload">Find a landmark with an uploaded image</a>
            </p>
            <p>
                <a class="btn btn-primary btn-lg" href="landmark_url">Find a landmark in an image URL</a>
            </p>
            <p>
                <a class="btn btn-primary btn-lg" href="object_detect_upload">Find objects with an uploaded image</a>
            </p>
            <p>
                <a class="btn btn-primary btn-lg" href="object_detect_url">Find objects with an image URL</a>
            </p>
            <p>
                <a class="btn btn-primary btn-lg" href="sentiment">Sentiment API</a>
            </p>
        </div>
    </div>

  </body>
</html>


