<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/header.ejs') %>
  </head>
  <body>
    <div id="banner">
        <%- include('partials/banner.ejs') %>
    </div>

    <div class="jumbotron">
        <div class="container">
            <h1>Welcome to Contoso Travel!</h1>
            <p>
                <a class="btn btn-primary btn-lg" href="translate_upload">Translate a sign with an uploaded image</a>
            </p>
            <p>
                <a class="btn btn-primary btn-lg" href="translate_url">Translate a sign with an image URL</a>
            </p>
            <p>
                <a class="btn btn-primary btn-lg" href="train">Tell us what cruize ships look like</a>
            </p>
            <p>
                <a class="btn btn-primary btn-lg" href="detect">Find out if cruize ship is visible</a>
            </p>
        </div>
    </div>

  </body>
</html>


