<div id="menu">
    <div class="container">
        <div class="row">
            <ul>
                <li class="selected">home</li>
                <li>flights</li>
                <li>hotels</li>
                <li>cars</li>
                <li>cruises</li>
                <li>passports</li>
                <li>visas</li>
            </ul>
        </div>
    </div>
</div>