{% extends 'base.html' %}
​
{% block header %}
<div class="container text-center">
    <h1>Contoso Travel</h1>
    <h3>Paste an image URL and test your custom vision model!</h3>
    <h4>It may take up to 1 minute to process your image</h4>
</div>
{% endblock %}
​
{% block optional_form %}
                
    <input type="text" class="form-control" id="custom_vision_url" name="custom_vision_url" placeholder="Add image url here">
    <input type="submit" id="submit-url-button" value="Upload image URL">
        
        
    <img id="uploaded-image" src="{{ image_uri }}" >
            
    <div style="display: none">
         <input type="button" id="upload-url-button" class="btn" value="Load URL image">
    </div>
    

{% endblock %}
​
{% block optional_scripts %}
{# Reset to selected language #}
<script>
    $("#custom_vision_url").val("{{ custom_vision_url }}");
</script>

{% endblock %}