{% extends 'base.html' %}
​
{% block header %}
<div class="container text-center">
    <h1>Contoso Travel</h1>
    <h3>Paste in an image URL containing signage and let us translate it for you!</h3>
</div>
{% endblock %}
​
{% block optional_form %}
<input type="text" class="form-control" id="web_url" name="sentiment_text" placeholder="Add your text here">
<input type="submit" id="submit-url-button" value="Upload sentiment">

    
<div style="display: none">
    <input type="button" id="upload-url-button" class="btn" value="Load URL image">
</div>

{% endblock %}
​
{% block optional_scripts %}
{# Reset to selected language #}
<script>
    $("#sentiment_text").val("{{ sentiment_text }}");
</script>

{% endblock %}